.characters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.characters__title {
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 2px;
}

.characters__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}