
.button {
    width: 100px;
    background-color: black;
    color: white;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px black;
    cursor: pointer;
}

.button:hover {
    background-color: #e71224;
    border: solid 1px #e71224;
}